@font-face {
  font-family: Spotlight;
  src: url(assets/spotlight.ttf);
}

@font-face {
  font-family: Milestone Brush;
  src: url(assets/milestone.ttf);
}

@font-face {
  font-family: Spectral;
  src: url(assets/spectral.ttf);
}

@font-face {
  font-family: Spectral Italic;
  src: url(assets/spectral-italic.ttf);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Spectral', sans-serif;
  --home-item-width: 40vw;
}

.bar {
  backdrop-filter: blur(20px);
  background-color: rgba(0,0,0,0.3);
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  position: sticky;
  top: 0;
  z-index: 1;
}

.bar-container {
  display: flex;
  justify-content: space-between;
  height: 80px;
  z-index: 2;
  width: 100%;
  padding: 0 4vw;
}

#bar-logo {
  cursor: pointer;
  z-index: 2;
  display: flex;
  padding: 8px 0;
  align-items: center;
}

.bar-menu {
  display: flex;
  align-items: center;
  list-style: none;
  text-align: center;
  transition: all 0.25s ease;
}

.bar-item {
  height: 80px;
  padding: 0 1.5rem;
}

.bar-links {
  color: #dddddd;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  height: 100%;
  font-size: 20px;
}

.bar-links:hover {
  color: #ff5555;
  transition: all 0.5s ease;
}

.bar-line {
  width: 2px;
  height: 50%;
  background: #aaaaaa;
  border-radius: 50%;
}

@media screen and (max-width: 960px) {

  .bar-line {
    height: 2px;
    width: 100%;
    opacity: 0.6;
    border-radius: 50%;
    background: #dddddd;
  }

  .bar-menu {
    display: grid;
    grid-template-columns: auto;
    padding: 1.5rem 0;
    width: 80%;
    left: 10%;
    position: absolute;
    transition: all 0.5s ease;
    z-index: 3;
    top: -500px;
    backdrop-filter: blur(20px);
    background-color: rgba(0,0,0,0.3);
    border-radius: 16px;
    justify-content: center;
  }

  .bar-item {
    height: 80px;
    padding: 0 20vw;
  }

  .bar-toggle {
    position: absolute;
    cursor: pointer;
    top: 30%;
    right: 4vw;
  }

  .bar-toggle .bar {
    background: #ffffff;
    width: 25px;
    height: 2px;
    margin: 6px auto;
    display: block;
    transition: all 0.5s ease;
  }

  .bar-toggle.is-active .bar:nth-child(1) {
    transform: translateY(8px) rotate(0.125turn);
    transition: all 0.4s ease;
  }

  .bar-toggle.is-active .bar:nth-child(2) {
    opacity: 0;
  }

  .bar-toggle.is-active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-0.125turn);
    transition: all 0.4s ease;
  }

  .bar-menu.active {
    transform: translateY(525px);
    transition: all 0.4s ease;
  }
}

.head-container {
  position: relative;
  height: 75vw;
  transform: translate(0, -80px);
  display: flex;
  justify-content: center;
}

.head-image {
  position: relative;
}

.head-text1 {
  position: absolute;
  top: calc(11vh + 21vw);
  color: #ffcccc;
  font-family: Milestone Brush;
  font-size: 15vw;
  text-shadow: 5px 5px 25px black;
  text-align: center;
}

.body-container {
  position: relative;
  background: #ffffff;
  height: calc(60vh + 40vw);
  background-image: url("assets/camo.png");
  background-repeat: repeat;
  background-size: calc(0.56 * (50vh + 50vw));
}

.summary-container {
  position: absolute;
  background: #ffffff;
  width: var(--home-item-width);
  height: auto;
  border-radius: 16px;
  right: 52.5%;
  top: 64px;
  box-shadow: 15px 15px 32px rgba(0,0,0,0.4);
}

.summary {
  font-size: calc(1.0 * (1vw + 1vh));
  padding: calc(1vw + 1vh);
}

#descriptors {
  font-family: Spectral Italic;
  padding-bottom: 0;
}

.summary-image {
  position: absolute;
  left: 52.5%;
  top: 64px;
}

#specialties-anim {
  position: absolute;
  width: var(--home-item-width);
  border-radius: 16px;
  top: calc(2.7 * (15vh + 5vw));
  right: 52.5%;
  background: #000000;
  box-shadow: 15px 15px 32px rgba(0,0,0,0.6);
}

.specialties {
  font-size: calc(1.0 * (1vw + 1vh));
  padding: calc(1vw + 1vh);
}

.specialties-container {
  position: absolute;
  background: #ffffff;
  width: var(--home-item-width);
  height: auto;
  border-radius: 16px;
  left: 52.5%;
  top: calc(2.7 * (15vh + 5vw));
  box-shadow: 15px 15px 32px rgba(0,0,0,0.4);
}

.footer {
  position: absolute;
  width: 100%;
  height: auto;
  background: #2a2a2a;
  z-index: 1;
}

.footer-container {
  padding: 3rem 0;
  justify-content: center;
  position: relative;
  display: grid;
  width: 100%;
}

.footer-items {
  width: calc(192px + 8vw);
  display: flex;
  justify-content: center;
  padding: 8px;
  font-family: Spectral Italic;
  font-size: calc(75% + 0.5vw);
  color: #bbbbbb;
  text-decoration: none;
  align-items: center;
}

.footer-items:hover {
  color: #00cccc;
  transition: all 0.5s ease;
}

.footer-icons {
  position: relative;
  width: calc(12px + 0.5vw);
  margin-right: 3%;
}

.backbutton-container {
  width: 64px;
  height: auto;
  position: sticky;
  display: flex;
  justify-content: center;
  left: 2%;
  top: 2%;
  z-index: 2;
}

.backbutton {
  position: absolute;
}

.bio-head-container {
  height: 30vh;
  position: relative;
  display: flex;
  justify-content: center;
}

.bio-head-image {
  position: relative;
  width: 100%;
}

.bio-title {
  position: absolute;
  font-family: Spectral;
  font-size: 64px;
  top: 30%;
}